*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


li {
    list-style-type: none;
    color: rgb(99, 8, 184);
    font-size: 20px;
    font-weight: bolder;
    border: 2px black solid;
    width: 120px;
    margin: 3px;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
}



a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

+
body {
    background-color: rgb(173, 161, 172);
}





h1 {
    color: rgb(90, 7, 62);
    display: flex;
    font-weight: bolder;
   

}

h3 {
    color: rgb(90, 7, 62)
}

footer{
    background-color: rgb(90, 7, 62);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
}

h2{
    color: white;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}
