*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}


h1 {
    color: rgb(90, 7, 62);
    display: flex;
    font-weight: bolder;
   

}

h3 {
    color: rgb(90, 7, 62)
}

footer{
    background-color: rgb(90, 7, 62) ;
    /* position: sticky;
    bottom: 0; */
    width: 100%;
    height: 15%;
}

h2{
    color: white;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .titulo {
      display: flex;
      font-size: 2rem;
    }
  
  }
  
  @media screen and (max-width: 460px) {
    .titulo {
      display: flex;
      font-size:1.4rem;
    }


  
  }
